@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.aqua-info {
    margin-bottom: 10px;
    border: 4px dotted black;
    padding: 5px;
}

p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
